/* Imports */

@import url('_colors.css');
@import url('_fonts.css');
@import url('_layout.css');
@import url('_messages.css');



/* Common HTML Elements */

* {
	box-sizing: border-box;
	font-family: proxima-nova,sans-serif;
	margin: 0;
	padding: 0;
}
a {
	color: #48aff0;
	text-decoration: none;
	transition: 0.3s;
}

body {
	background-color: #293742;
	color: #BFCCD6;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

div svg { width: 100%; min-width: 16px; }

h1,h2,h3,h4,h5,h6 {
	color: #F5F8FA;
	font-weight: 600;
	//text-transform: uppercase;
}

/* Classification banners */

.banner {
	align-items: center;
	background-color: #fbe919;
	color: #10161A;
	display: flex;
	flex: 0 0 auto;
	font-size: 11px;
	font-weight: bold;
	height: 16px;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
	/* During Development display: none; */
}

/* Header */

header {
	//background-color: #1f2b32;
	background-color: #182026;
	color: #F5F8FA;
	cursor: default;
	flex: 0 0 auto;
	height: 60px;
	padding: 0 10px 0 10px;
	width: 100%;
}

header a #logo { color: #F5F8FA; }

header #logo {
	align-items: center;
	display: flex;
	font-size: 24px;
	font-weight: 600;
}

/* Header - Navigation */

header #navigation {
	align-items: center;
	color: #F5F8FA;
	display: flex;
	font-size: 18px;
	font-weight: 300;
	margin-left: 50px;
} 

header #navigation a {
	align-items: center;
	color: #BFCCD6;
	display: flex;
	font-weight: 400;
	padding: 7px 10px 7px 10px;
	margin-right: 10px;
}
header #navigation a img {
	margin-right: 7px;
}
header #navigation a:hover {
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
	color: #F5F8FA;
}

header #navigation .pipe {
	align-items: center;
	color: #202B33;
	display: flex;
	font-size: 36px;
	font-weight: 100;
	padding: 7px 10px 7px 10px;
	margin-right: 10px;
}


/* Header - Search Bar */

#search-bar {
	align-items: center;
	color: #F5F8FA;
	display: flex;
	font-size: 24px;
	font-weight: 300;
	margin-left: auto;
	margin-right: 20px;
	position: relative;
	width: 400px;
}

#search-bar input[type=text] {
	align-items: center;
	background-color: #293742;
	border: solid 1px #182026;
	border-radius: 10px;
	color: #F5F8FA;
	display: flex;
	font-size: 16px;
	font-weight: 300;
	outline: none;
	padding: 8px 10px 8px 40px;
	width: 100%;
}
#search-bar input[type=text]:active, #search-bar input[type=text]:focus {
	outline: none;
	//border: solid 1px #48AFF0;
	-webkit-box-shadow: 0px 0px 2px 2px #48AFF0;
	box-shadow:  0px 0px 2px 2px #48AFF0;
    -webkit-appearance: none;
}
#search-bar input[type=text]:active + #search-bar-img svg path, #search-bar input[type=text]:focus + #search-bar-img svg path {
	fill: #F5F8FA;
}
::-webkit-input-placeholder { color: #738694;}
::-moz-placeholder { color: #738694; }
:-ms-input-placeholder { color: #738694; }
:-moz-placeholder { color: #738694; }

#search-bar-img {
	position: absolute;
	left: 12px;
}

/* Header - User Controls */

header #user-controls, header #user-controls div {
	align-items: center;
	display: flex;
}
header #user-controls #notifications {
	cursor: pointer;
	padding: 7px 10px 7px 10px;
	position: relative;
}
header #user-controls #notifications #notifications-number {
	color: #BFCCD6;
	font-size: 12px;
	font-weight: 700;
	position: absolute;
	top: 0px;
	right: 3px;
}
header #user-controls #notifications:hover #notifications-number {
	color: #F5F8FA;
}

header #user-controls #user-settings {
	cursor: pointer;
	padding: 7px 10px 7px 10px;
}
header #user-controls #user-settings svg {
	min-width: 20px;
}

header #user-controls #notifications:hover, header #user-controls #user-settings:hover {
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
}

/* Utility Row - For any features (currently just breadcrumbs) */

#utilities {
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	height: 30px;
	margin: 10px 10px 0 10px;
	width: 100%;
}

/* Utility Row - Breadcrumbs */

#breadcrumbs {
	align-items: center;
	color: #F5F8FA;
	display: flex;
	font-size: 18px;
	font-weight: 300;
	width: 75%;
}

#breadcrumbs .current {
	color: #F5F8FA;
	font-weight: 600;
}

#breadcrumbs .arrow {
	height: 8px;
	width: 12px;
	margin: 5px;
}
#breadcrumbs .arrow path {
	fill: #666;
}

#breadcrumbs a { color: #A7B6C2; }
#breadcrumbs a:hover { color: #F5F8FA; }

/* Content */

#content {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}

#content .frame {
	/* For demo only border: solid 1px #fff; */
	//background: rgba(0,0,0,0.1);
}


.widget {
	color: #F5F8FA;
	cursor: default;
	display: flex;
	background-color: #394B59;
	border-radius: 5px;
	box-shadow: 0 0px 12px rgba(0,0,0,0.3);
	flex-direction: column;
	height: 100%;
	padding: 12px;
}
.widget a:hover { text-decoration: underline; }

.widget-title {
	align-items: center;
	display: flex;
	padding-bottom: 10px;
	border-bottom: solid 2px #293742;
}
.widget-content {
	padding: 12px 0 12px 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Footer */

footer {
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	font-size: 11px;
	height: 20px;
	justify-content: center;
}


/* This is for personnel.css */

#member-overview {
	margin-right: 20px;
}

#member-overview .image-section img {
	border: solid 2px #BFCCD6;
	border-radius: 5px;
	height: auto;
	width: 100%;
}